body {
}
/*Home*/
.conteiner{
    color: black;
}
.navbar {
    margin-bottom: 0px;
    background-color: #ECF0F1;
}
.contenedor-home{
    display:flex;
    flex-basis: 100%;
    margin: 0 auto;
    margin-top:50px;
    height: 800px;
    color: white;
}
.c_home {
    display: flex;
    flex-basis: 50%;
}
.seccion1 {
    text-align: center;
    display: flex;
    background-color: white;
    text-align: center;
    align-items: center;
    justify-content: center;
    align-content: center;
}
.seccion2 {
    display: flex;
    background-color: #0F63D5;
    padding: 50px 100px;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.logo_home a img{
    width: 250px;
    height: 250px;
    margin-top: -150px;
}
.home_titulo{
    width: 100px;
}
.welcome{
    flex-basis: 100%;
}
.home_contacto{
    flex-basis: 25%;
}
.home_redes{
    flex-basis:100%;
}
.col-md-3 ul{
    list-style:none;
}
.redes li a{
    color: white;
    text-decoration: none;
}
.redes li a:hover{
    color: red;
}


/***********************************PARTE DE ALL ABOUT US**************************************/
.contenedor {
    border: 10px solid blue;
    display: flex;
    flex-wrap: wrap;
}

.tit {
    border: 10px solid green;
    color: red;
    flex-basis: 100%;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

.cuerpo {
    border: 10px solid purple;
    flex-basis: 100%;
    display: flex;
    flex-grow: 3;
}

    .cuerpo div {
        border: 10px solid red;
        color: black;
        flex-basis: 100%;
        font-family: 'Times New Roman', Times, serif;
        margin: 1px 3px 1px;
        padding: 1em;
    }

    .cuerpo h3 {
        text-align: center;
    }

    .cuerpo p {
        text-align: justify;
    }

    .cuerpo > .fotex {
        display: block;
        text-align: center;
    }


