@page
@model Batman_01.Pages.AboutUsModel
@{
    ViewData["Title"] = "AboutUs";
}

    <div class="contenedor">
        <div class="tit">
            <h1>Bienvenido a All Paqqa</h1>
        </div>
        <section class="cuerpo">
            <div>
                <h3>MISION</h3><br />
                <p>
                    Concentran sus esfuerzos en ofrecer a los clientes los precios más bajos posible,
                    la mejor selección disponible y la mayor comodidad. En otras palabras:
                    <ul>
                        <li>Democratización de los precios.</li>
                        <li>Variedad en la oferta.</li>
                        <li>Accesibilidad y disponibilidad.</li>
                    </ul>
                </p>
            </div>
            <div>
                <h3>VISION</h3><br />
                <p>
                    All Paqqa busca convertirse en el primer Sitio Web que logre conectar a la
                    comunidad universitaria, y que estos puedan vender o encontrar todo tipo
                    de porducto o servicio que entre ellos mismos puedan ofrecer:
                    <ul>
                        <li>Alcance universitario exclusivamente de USIL.</li>
                        <li>Priorización del cliente.</li>
                        <li>La más amplia selección de productos y servicios.</li>
                    </ul>
                </p>
            </div>
            <div>
                <h3>VALORES</h3><br />
                <p>
                    En All Paqqa sus valores se dividen en cuatro:
                    <ol>
                        <li>Obsesión por el cliente en lugar de enfoque en la competencia.</li>
                        <li>Pasión por la innovación.</li>
                        <li>Compromiso con la excelencia operacional.</li>
                        <li>Pensamiento a largo plazo.</li>
                    </ol>
                </p>
            </div>
        </section>
        <section class="cuerpo">
            <div class="fotex">
                <img height="100px" src="~/Fotos/intrasil_1.jpg" alt="Foto de Usil"/>
            </div>
            <div class="fotex">
                <img height="100px" src="~/Fotos/alpaca.jpg" alt="Logo de All Paqqa"/>
            </div>
            <div class="fotex">
                <img height="100px" src="~/Fotos/desarrolladores-programadores-web.png" alt="Equipo Desarrollador" />
            </div>
        </section>
    </div>