@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="contenedor-home">
    <div class="home-seccion1">
        
    </div>
    <div class="home-seccion2">

    </div>

</div>
