@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="c_home seccion1">
    <div class="logo_home">
        <a>
            <img src="https://image.flaticon.com/icons/png/512/64/64440.png" >
        </a>
    </div>
</div>
<div class="c_home seccion2">
    <div class="home_titulo">

    </div>
    <div class="welcome">
        <p>Welcome</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam magna ipsum, dapibus a orci at, consequat faucibus orci. Praesent tempor est et nunc imperdiet, sit amet dictum augue blandit. Donec in semper ipsum. Fusce ut nulla neque. Aliquam sit amet justo sit amet felis scelerisque faucibus. Mauris suscipit, arcu vel aliquam pharetra, odio nulla laoreet ipsum, non aliquet leo tortor sit amet quam. Donec accumsan ultricies fringilla. Vestibulum in velit feugiat, eleifend libero in, viverra purus. Sed vitae blandit ipsum, at eleifend dolor. Maecenas eleifend dictum convallis. Sed et consequat sapien, rutrum tempus nibh. Donec lacus nibh, pharetra mattis scelerisque sed, pulvinar eu nisi.</p>
    </div>
    <div class="home_contacto">
        <p>info@mysite.com</p>
        <p>123-456-798</p>
    </div>
    <div class="home_redes">
        <div class="col-md-3 mb-md-0 mb-3">


            <ul class="list-unstyled redes">
                <li>
                    <a target="_blank" href=""><i class="fab fa-youtube-square mr-2" style="color: #bb0000;"></i>Youtube</a>
                </li>
                <li>
                    <a target="_blank" href=""><i class="fab fa-whatsapp-square mr-2" style="color:#4dc247"></i>Whatsapp</a>
                </li>
                <li>
                    <a target="_blank" href=""><i class="fab fa-facebook-square mr-2" style="color:#3b5998;"></i>Facebook</a>
                </li>
                <li>
                    <a target="_blank" href=""><i class="fab fa-instagram mr-2" style="color:#125688;"></i>Instagram</a>
                </li>
            </ul>

        </div>
    </div>
</div>

