@page
@model Batman_01.Pages.RegistroUserModel
@{
    ViewData["Title"] = "RegistroUser";
}

<div class="container loginRedesign w-50 align-self-center">
    <div class="row textRedesign text-center">
        <h2 class="col-12">Registro de nuevo usuario</h2>
    </div>

    <form class="form-group">
        <div class="form-group form-row align-content-center justify-content-center">
            <label for="firstN" class="col-3 textRedesign">Nombres</label>
            <input class="form-control col-5" id="firstN" type="text" placeholder="Ingrese sus nombres" />
        </div>

        <div class="form-group form-row align-content-center justify-content-center">
            <label for="lastN" class="col-3 textRedesign">Apellidos</label>
            <input class="form-control col-5" id="lastN" type="text" placeholder="Ingrese sus apellidos" />
        </div>

        <div class="form-group form-row align-content-center justify-content-center">
            <label for="mail" class="col-3 textRedesign">Correo Usil</label>
            <input class="form-control col-5" id="mail" type="email" placeholder="Ingrese su correo institucional" />
        </div>

        <div class="form-group form-row align-content-center justify-content-center">
            <label for="password" class="col-3 textRedesign">Contraseña</label>
            <input class="form-control col-5" id="password" type="password" placeholder="Ingrese su contraseña" />
        </div>

        <div class="form-group form-row align-content-center justify-content-center">
            <label for="birthday" class="col-3 textRedesign">Fecha de nacimiento</label>
            <input class="form-control col-5" id="birthday" type="date" />
        </div>

        <div class="form-group form-row align-content-center justify-content-center">
            <button type="submit" class="btn btn-dark botonForm col-sm-4">Enviar</button>
        </div>
    </form>
</div>